.title {
  text-align: center;
}
.opt {
  margin-right: 8px;
  height: 32px;
  vertical-align: middle;
}
.rtc-view-wrapper {
  margin: auto;
  position: relative;
}

.rtc-view {
  width: max-content;
  transform: scale(0.3);
  transform-origin: top left;
}
